@import "../setting/_config.scss";

.calendar {
	max-height: 500px;
	overflow: hidden;
	transition: max-height 0.5s;


	&_value {
	  font-size: 3rem;
	  text-align: center;
	  &_active {
		color: $calendar
	  }
	  &_holiday {
		font-size: 1.5rem;
		color: $lightgray;
		.holiday_name {
			font-size: 0.8rem;
		}
	  }
	}
	&_youbi {
		flex: 1;
		margin-right: -1px;
		text-align: center;
	  }
	&_weekly {
		display: flex;
	  }
	&_daily {
		flex: 1;
		transition: 0.2s;
		&:hover {
			background-color: $lightgray;
		}
	  }
	&_day {
		text-align: center;
	  }
	.month {
		margin: 0.5em 0;
		display: flex;
		justify-content: space-between;
		figure {
			width: 50%;
		}
		h2 {
		  font-size: 2rem;
		}
		button {
			&:nth-child(3) {
				transform: rotate(180deg);
			}
		  padding: 4px 8px;
		  margin-right: 8px;
		}
	  }
}