@import "../setting/config.scss";
@import "../mixin/title.scss";

#company {
	@extend .common-container;
  .top {
    width: 100%;
    .title {
      @include title;
      border-bottom: 1px solid $border;
      &_sub {
        color: $lightgray;
      }
    }
    .tags {
      display: flex;
      .tag {
        color: $white;
        background-color: $util;
        margin: 0.5rem 1rem 0 0;
        padding: 0.5rem 2rem;
        border-radius: 5px;
      }
    }
    figure {
      width: 100%;
      margin: 3rem 0;
    }
    .content {
      padding-bottom: 4rem;
      border-bottom: 1px solid $border;
      &_title {
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      &_subtitle {
        color: $lightgray;
      }
    }
  }
  .planlist {
    margin: 2rem 0;
    .title {
      @include title;
      margin-bottom: 2rem;
    }
    .card {
      display: flex;
      margin: 3rem 0;
      figure {
        width: 30%;
      }
      .content {
        margin-left: 5%;
        width: calc(70% - 5%);
        &_title {
          font-weight: 600;
          font-size: 2.2rem;
          margin-bottom: 2rem;
        }
        &_subtitle {
          font-size: 1.5rem;
          color: $lightgray;
        }
        .tags {
          display: flex;
          margin-bottom: 1rem;
          .tag {
            color: $util;
            background-color: $white;
            border: 1px solid $util;
            font-size: 1rem;
            width: 7rem;
            text-align: center;
            border-radius: 5px;
            margin-right: 1rem;
          }
        }
        .tables {
          display: flex;
          table {
            width: 30%;
            th {
              font-weight: 600;
              font-size: 1.5rem;
            }
            td {
              color: $util2;
              font-weight: 600;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  .detail {
    .title {
      @include title;
    }
    table {
      width: 100%;
      font-weight: 600;
      td,
      th {
        border: 1px solid $border;
        font-weight: 600;
      }
      th {
        padding: 0.5rem 1rem;
        background-color: $table-header;
      }
    }
  }
}
