@import "./setting/config";

.bar {
  height: 10rem;
  border-bottom: solid 2px #bab6b6;
  position: relative;
  &_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6rem;
    width: 60vw;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    border: solid 1px #bab6b6;
  }
  .buttons > button,
  input,
  select {
    border: solid 1px #bab6b6;
    border-radius: 5px;
    width: 10vw;
  }
  .buttons > button {
    text-align: center;
  }
  .search_icon {
    width: 80%;
  }
}
