@import "./mixin/mq";

.sp {
	display: none;
}
.tab {
	display: none;
}
.pc {
	display: block;
}

@include mq(tab) {
	.sp {
	display: none;
	}
	.tab {
	display: block;

	}
	.pc {
	display: none;
	}
}

@include mq(sp) {
	.sp {
	display: block;

	}
	.tab {
	display: none;
	}
	.pc {
	display: none;
	}
}