@import "../setting/config";
@import "../mixin/mq.scss";
@import "../mixin/title.scss";

#plan {
  .output {
    padding: 0 3rem;
    font-size: 1.5rem;
    display: flex;
    height: 3rem;
    margin: 2rem 0;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    .display {
      display: flex;
      border: solid 1px $border;
      width: 70%;
      justify-content: space-between;
      padding: 0 2rem;
      figure {
        text-align: right;
        width: 19px;
      }
      .arrow {
        transition: all 0.5s;
        &.active {
          transform: rotate(180deg);
        }
      }
    }
  }
}

#plan {
  @extend .common-container;
  position: relative;
  .title {
    @include title;
    margin-bottom: 2rem;
  }
  .content {
    width: 50%;
    table {
      width: 100%;
      font-weight: 600;
      margin-top: 4rem;
      th,
      td {
        border: 1px solid $border;
        padding: 1rem 0.5rem;
      }
      th {
        background-color: $table-header;
      }
      td {
        figure {
          width: 50%;
        }
      }
      .price {
        display: flex;
        &_row {
          display: flex;
          width: 40%;
          label {
            width: 30%;
          }
          p {
            color: $util2;
          }
        }
      }
    }
  }
  #reserve {
    position: fixed;
    width: 40%;
    background-color: $white;
    top: 11rem;
    left: 54vw;
    padding-bottom: 2rem;
    .title {
      display: flex;
      align-items: center;
      background-color: $util;
      color: $white;
      height: 4rem;
      padding: 0.5rem;
    }
    #calendar {
      border-bottom: 1px solid $border;
      &_output {
        display: flex;
        color: $lightgray;
      }
      &_panel {
        visibility: hidden;
        height: 0;
      }
    }
    .people {
      border-bottom: solid 1px $border;
      &_panel {
        max-height: 400px;
        overflow: hidden;
        transition: max-height 0.5s ease;
        background-color: #bab6b677;
        padding: 0 3rem;

        .row {
          display: flex;
          padding: 1rem;
          label {
            width: 50%;
            font-weight: 600;
            font-size: 1.5rem;
          }
          p {
            margin: 0 1.5rem;
            font-size: 1.2rem;
            width: 20%;
            text-align: center;
          }
        }
        .panel_button {
          background-color: $util;
          color: $white;
          font-size: 2rem;
          width: 15%;
          height: 2rem;
          text-align: center;
        }
        button:disabled {
          opacity: 0.5;
        }
      }
    }
    .sum {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 2rem;
      margin: 1rem 5rem;
      p {
        color: $util2;
      }
    }
    .reserve_button {
      margin: 0 auto;
      display: relative;
      text-align: center;
      button {
        color: #faf8f8;
        background-color: #eb5656;
        padding: 1rem;
        width: 50%;
        border-radius: 5px;
      }
    }
  }
}

.calendar.active {
  max-height: 0px !important;
}

.people .people_panel.active {
  max-height: 0px !important;
}

@include mq(sp) {
  #plan {
    .content,
    #reserve {
      width: 100%;
    }
    #reserve {
      position: unset;
      margin-top: 5rem;
    }
  }
}
