// 変数
$breakpoints: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px) and (max-width: 1024)",
  pc: "screen and (min-width: 1025px)",
) !default;

.common-container {
  margin: 1rem 10rem 10rem;
}

$white: #faf8f8;
$black: #000000;
$lightgray: #767676;
$border: #bab6b6;
$shadow: #cccccc;
$util: #252c5f;
$util2: #eb5656;
$calendar: #f3ad3d;
$table-header: #eae7da;

// フォント
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700;900&family=Zen+Kurenaido&display=swap');
body {
	font-family: 'Noto Sans JP', sans-serif;
}