// 変数
$breakpoints: (
  sp: 'screen and (max-width: 767px)',
  tab: 'screen and (min-width: 768px) and (max-width: 1024)',
  pc: 'screen and (min-width: 1025px)'
) !default;


$white: #FAF8F8;
$black: #000000;
$lightgray: #767676;
$util: #252C5F;
$util2: #EB5656;