// 変数
$breakpoints: (
  sp: 'screen and (max-width: 767px)',
  tab: 'screen and (min-width: 768px) and (max-width: 1024)',
  pc: 'screen and (min-width: 1025px)'
) !default;


$colors: (
	reset: #FFFFFF,
	background: #FFFFFF,
	font: #000000,
	sub-font: #87898B,
	utils: #EA4C60,
	utils-background: #B8B8B8,
);